<nav>
  <ul class="pagination">
    <% if (paginator.prev !== null) { %>
      <li class="page-item">
        <a class="page-link" href="<%= paginator.prev %>">
          Previous
        </a>
      </li>
    <% } %>
    <% for(var i = 0; i < paginator.total; i++) { %>
      <% if (paginator.current === i + 1) { %>
        <li class="page-item active">
          <span class="page-link">
            <%= i + 1 %>
          </span>
        </li>
      <% } else if (i === 0) { %>
        <li class="page-item">
          <a class="page-link" href="<%= paginator.baseUri %>">
            1
          </a>
        </li>
      <% } else { %>
        <li class="page-item">
          <a class="page-link" href="<%= `${paginator.baseUri}/${i + 1}` %>/">
            <%= i + 1 %>
          </a>
        </li>
      <% } %>
    <% } %>
    <% if (paginator.next !== null) { %>
      <li class="page-item">
        <a class="page-link" href="<%= paginator.next %>">Next</a>
      </li>
    <% } %>
  </ul>
</nav>
